* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqlDZBCLrXKPzK1mxAyi_wR942oqhrqeatmA&s');
    background-repeat: inherit;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

header {
    position: relative;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background-color: #1d1b1b;
    box-shadow: 0px 10px 10px #000;
    padding: 100px 0;
    z-index: 1000;
    /* Ensure it stays on top */

}

h1 {
    font-size: 28px;
    font-family: serif;
    text-align: center;
    color: white;
    text-decoration: underline rgb(235, 157, 13);
}

h1 span {
    color: rgb(236, 26, 26);
}

.logo img {
    width: 480px;
    height: 200px;
    position: absolute;
    top: 0;
    left: 0;
}

.logo-right {
    width: 480px;
    height: 200px;
    position: absolute;
    top: 0;
    right: 0;
}

/* button#1 */
.box-1 {
    margin-top: 300px;
    width: 650px;
    height: 400px;
    border: 10px solid #2196F3;
    background-color: #000;
}

.glow-on-hover {
    width: 220px;
    height: 50px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    margin: 100px;
    margin-left: 195px;

}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}



/* button#2 */
.box-2 {
    margin-top: 120px;
    width: 650px;
    height: 400px;
    border: 10px solid #2196F3;
    background-color: #3C3C3C;
}

.btn {
    line-height: 50px;
    height: 50px;
    text-align: center;
    width: 250px;
    cursor: pointer;
}

.btn-two {
    color: #FFF;
    transition: all 0.5s;
    position: relative;
    margin: 100px;
    margin-left: 180px;

}

.btn-two span {
    z-index: 2;
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
}

.btn-two::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-two::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    transition: all 0.5s;
    border: 1px solid rgba(255, 255, 255, 0.2);
    background-color: rgba(255, 255, 255, 0.1);
}

.btn-two:hover::before {
    transform: rotate(-45deg);
    background-color: rgba(255, 255, 255, 0);
}

.btn-two:hover::after {
    transform: rotate(45deg);
    background-color: rgba(255, 255, 255, 0);
}


/* button#3 */
.box-3 {
    margin-top: 120px;
    width: 650px;
    height: 400px;
    border: 10px solid #2196F3;
    background-color: #81d4fa;

}

.btn:link,
.btn:visited {
    text-transform: uppercase;
    text-decoration: none;
    padding: 15px 40px;
    display: inline-block;
    border-radius: 100px;
    transition: all .2s;
    position: absolute;
    margin: 100px;
    margin-left: 180px;
    font-weight: bold;
}

.btn:hover {
    transform: translateY(-3px);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:active {
    transform: translateY(-1px);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
    background-color: #fff;
    color: #777;
}

.btn::after {
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 100px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all .4s;
}

.btn-white::after {
    background-color: #fff;
}

.btn:hover::after {
    transform: scaleX(1.4) scaleY(1.6);
    opacity: 0;
}

.btn-animated {
    animation: moveInBottom 5s ease-out;
    animation-fill-mode: backwards;
}

@keyframes moveInBottom {
    0% {
        opacity: 0;
        transform: translateY(30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0px);
    }
}


/* button#4 */
.box-4 {
    margin-top: 120px;
    width: 650px;
    height: 400px;
    border: 10px solid #2196F3;
    background: linear-gradient(170deg, rgba(49, 57, 73, 0.8) 20%, rgba(49, 57, 73, 0.5) 20%, rgba(49, 57, 73, 0.5) 35%, rgba(41, 48, 61, 0.6) 35%, rgba(41, 48, 61, 0.8) 45%, rgba(31, 36, 46, 0.5) 45%, rgba(31, 36, 46, 0.8) 75%, rgba(49, 57, 73, 0.5) 75%), linear-gradient(45deg, rgba(20, 24, 31, 0.8) 0%, rgba(41, 48, 61, 0.8) 50%, rgba(82, 95, 122, 0.8) 50%, rgba(133, 146, 173, 0.8) 100%) #313949;
}

.animated-button1 {
    background: linear-gradient(-30deg, #3d0b0b 50%, #2b0808 50%);
    padding: 20px 40px;
    margin: 115px;
    margin-left: 205px;
    display: inline-block;
    -webkit-transform: translate(0%, 0%);
    transform: translate(0%, 0%);
    overflow: hidden;
    color: #f7d4d4;
    font-size: 20px;
    letter-spacing: 2.5px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    -webkit-box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
    box-shadow: 0 20px 50px rgba(0, 0, 0, 0.5);
}

.animated-button1::before {
    content: '';
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background-color: #ad8585;
    opacity: 0;
    -webkit-transition: .2s opacity ease-in-out;
    transition: .2s opacity ease-in-out;
}

.animated-button1:hover::before {
    opacity: 0.2;
}

.animated-button1 span {
    position: absolute;
}

.animated-button1 span:nth-child(1) {
    top: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, right top, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to left, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateTop linear infinite;
    animation: 2s animateTop linear infinite;
}

@keyframes animateTop {
    0% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }

    100% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }
}

.animated-button1 span:nth-child(2) {
    top: 0px;
    right: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left bottom, left top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to top, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateRight linear -1s infinite;
    animation: 2s animateRight linear -1s infinite;
}

@keyframes animateRight {
    0% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }

    100% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }
}

.animated-button1 span:nth-child(3) {
    bottom: 0px;
    left: 0px;
    width: 100%;
    height: 2px;
    background: -webkit-gradient(linear, left top, right top, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to right, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateBottom linear infinite;
    animation: 2s animateBottom linear infinite;
}

@keyframes animateBottom {
    0% {
        -webkit-transform: translateX(-100%);
        transform: translateX(-100%);
    }

    100% {
        -webkit-transform: translateX(100%);
        transform: translateX(100%);
    }
}

.animated-button1 span:nth-child(4) {
    top: 0px;
    left: 0px;
    height: 100%;
    width: 2px;
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(43, 8, 8, 0)), to(#d92626));
    background: linear-gradient(to bottom, rgba(43, 8, 8, 0), #d92626);
    -webkit-animation: 2s animateLeft linear -1s infinite;
    animation: 2s animateLeft linear -1s infinite;
}

@keyframes animateLeft {
    0% {
        -webkit-transform: translateY(-100%);
        transform: translateY(-100%);
    }

    100% {
        -webkit-transform: translateY(100%);
        transform: translateY(100%);
    }
}


/* button#5 */
.box-5 {
    margin-top: 120px;
    width: 650px;
    height: 400px;
    border: 10px solid #2196F3;
    background-color: #000;
}

.button {
    min-width: 300px;
    min-height: 60px;
    margin: 115px;
    margin-left: 185px;
    display: inline-flex;
    font-family: 'Nunito', sans-serif;
    font-size: 22px;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    font-weight: 700;
    color: #313133;
    background: #4FD1C5;
    background: linear-gradient(90deg, rgba(129, 230, 217, 1) 0%, rgba(79, 209, 197, 1) 100%);
    border: none;
    border-radius: 100px;
    box-shadow: 12px 12px 24px rgba(79, 209, 197, .64);
    transition: all 0.3s ease-in-out 0s;
    cursor: pointer;
    outline: none;
    position: relative;
    padding: 10px;
}

.button::before {
    content: '';
    border-radius: 1000px;
    min-width: calc(300px + 12px);
    min-height: calc(60px + 12px);
    border: 6px solid #00FFCB;
    box-shadow: 0 0 60px rgba(0, 255, 203, .64);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    transition: all .3s ease-in-out 0s;
}

.button:hover,
.button:focus {
    color: #313133;
    transform: translateY(-6px);
}

.button:hover::before,
.button:focus::before {
    opacity: 1;
}

.button::after {
    content: '';
    width: 30px;
    height: 30px;
    border-radius: 100%;
    border: 6px solid #00FFCB;
    position: absolute;
    z-index: -1;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    animation: ring 1.5s infinite;
}

.button:hover::after,
.button:focus::after {
    animation: none;
    display: none;
}

@keyframes ring {
    0% {
        width: 30px;
        height: 30px;
        opacity: 1;
    }

    100% {
        width: 300px;
        height: 300px;
        opacity: 0;
    }
}



/* button#6 */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&display=swap');

.box-6 {
    margin-top: 120px;
    width: 650px;
    height: 400px;
    border: 10px solid #2196F3;
    background-color: #27282c;
}

.button-6 {
    position: relative;
    padding: 16px 30px;
    font-family: "Poppins", sans-serif;
    font-size: 1.5rem;
    color: var(--color);
    border: 3px solid rgba(0, 0, 0, 0.5);
    border-radius: 4px;
    text-shadow: 0 0 15px var(--color);
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 0.1rem;
    transition: 0.5s;
    z-index: 1;
    margin: 115px;
    top: 130px;
    margin-left: 220px;
}

.button-6:hover {
    color: #fff;
    border: 2px solid rgba(0, 0, 0, 0);
    box-shadow: 0 0 0px var(--color);
}

.button-6::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--color);
    z-index: -1;
    transform: scale(0);
    transition: 0.5s;
}

.button-6:hover::before {
    transform: scale(1);
    transition-delay: 0.5s;
    box-shadow: 0 0 10px var(--color),
        0 0 30px var(--color),
        0 0 60px var(--color);
}

.button-6 span {
    position: absolute;
    background: var(--color);
    pointer-events: none;
    border-radius: 2px;
    box-shadow: 0 0 10px var(--color),
        0 0 20px var(--color),
        0 0 30px var(--color),
        0 0 50px var(--color),
        0 0 100px var(--color);
    transition: 0.5s ease-in-out;
    transition-delay: 0.25s;
}

.button-6:hover span {
    opacity: 0;
    transition-delay: 0s;
}

.button-6 span:nth-child(1),
.button-6 span:nth-child(3) {
    width: 40px;
    height: 4px;
}

.button-6:hover span:nth-child(1),
.button-6:hover span:nth-child(3) {
    transform: translateX(0);
}

.button-6 span:nth-child(2),
.button-6 span:nth-child(4) {
    width: 4px;
    height: 40px;
}

.button-6:hover span:nth-child(1),
.button-6:hover span:nth-child(3) {
    transform: translateY(0);
}

.button-6 span:nth-child(1) {
    top: calc(50% - 2px);
    left: -50px;
    transform-origin: left;
}

.button-6:hover span:nth-child(1) {
    left: 50%;
}

.button-6 span:nth-child(3) {
    top: calc(50% - 2px);
    right: -50px;
    transform-origin: right;
}

.button-6:hover span:nth-child(3) {
    right: 50%;
}

.button-6 span:nth-child(2) {
    left: calc(50% - 2px);
    top: -50px;
    transform-origin: top;
}

.button-6:hover span:nth-child(2) {
    top: 50%;
}

.button-6 span:nth-child(4) {
    left: calc(50% - 2px);
    bottom: -50px;
    transform-origin: bottom;
}

.button-6:hover span:nth-child(4) {
    bottom: 50%;
}



/* button#7 */

@import url("https://fonts.googleapis.com/css?family=Raleway");


:root {
    --glow-color: hsl(186 100% 69%);
}

.box-7 {
    margin-top: 120px;
    width: 650px;
    height: 400px;
    border: 10px solid #2196F3;
    background-color: #000;
}

.glowing-btn-7 {
    position: relative;
    color: var(--glow-color);
    cursor: pointer;
    padding: 0.35em 1em;
    border: 0.15em solid var(--glow-color);
    border-radius: 0.45em;
    background: none;
    perspective: 2em;
    font-family: "Raleway", sans-serif;
    font-size: 2em;
    font-weight: 900;
    letter-spacing: 1em;
    margin: 115px;
    margin-left: 185px;

    -webkit-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    -moz-box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    box-shadow: inset 0px 0px 0.5em 0px var(--glow-color),
        0px 0px 0.5em 0px var(--glow-color);
    animation: border-flicker 2s linear infinite;
}

.glowing-txt {
    float: left;
    margin-right: -0.8em;
    -webkit-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    -moz-text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3),
        0 0 0.45em var(--glow-color);
    text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.3), 0 0 0.45em var(--glow-color);
    animation: text-flicker 3s linear infinite;
}

.faulty-letter {
    opacity: 0.5;
    animation: faulty-flicker 2s linear infinite;
}

.glowing-btn::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    opacity: 0.7;
    filter: blur(1em);
    transform: translateY(120%) rotateX(95deg) scale(1, 0.35);
    background: var(--glow-color);
    pointer-events: none;
}

.glowing-btn-7::after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    z-index: -1;
    background-color: var(--glow-color);
    box-shadow: 0 0 2em 0.2em var(--glow-color);
    transition: opacity 100ms linear;
}

.glowing-btn-7:hover {
    color: rgba(0, 0, 0, 0.8);
    text-shadow: none;
    animation: none;
}

.glowing-btn-7:hover .glowing-txt {
    animation: none;
}

.glowing-btn-7:hover .faulty-letter {
    animation: none;
    text-shadow: none;
    opacity: 1;
}

.glowing-btn-7:hover:before {
    filter: blur(1.5em);
    opacity: 1;
}

.glowing-btn-7:hover:after {
    opacity: 1;
}

@keyframes faulty-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 0.1;
    }

    4% {
        opacity: 0.5;
    }

    19% {
        opacity: 0.5;
    }

    21% {
        opacity: 0.1;
    }

    23% {
        opacity: 1;
    }

    80% {
        opacity: 0.5;
    }

    83% {
        opacity: 0.4;
    }

    87% {
        opacity: 1;
    }
}

@keyframes text-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    8% {
        opacity: 0.1;
    }

    9% {
        opacity: 1;
    }

    12% {
        opacity: 0.1;
    }

    20% {
        opacity: 1;
    }

    25% {
        opacity: 0.3;
    }

    30% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    72% {
        opacity: 0.2;
    }

    77% {
        opacity: 0.9;
    }

    100% {
        opacity: 0.9;
    }
}

@keyframes border-flicker {
    0% {
        opacity: 0.1;
    }

    2% {
        opacity: 1;
    }

    4% {
        opacity: 0.1;
    }

    8% {
        opacity: 1;
    }

    70% {
        opacity: 0.7;
    }

    100% {
        opacity: 1;
    }
}

/* media  */

@media only screen and (max-width: 600px) {
    .glowing-btn-7 {
        font-size: 1em;
    }
}


/* button#8 */

:root {
    --clr-neon: rgba(235, 97, 143, 1);
    --clr-bg: rgba(1, 1, 1, 1);
    --clr-white: rgba(255, 255, 255, 1);
}

.box-8 {
    margin-top: 120px;
    width: 650px;
    height: 400px;
    border: 10px solid #2196F3;
    color: var(--clr-neon);
    font-family: system-ui;
    background-color: rgba(1, 1, 1, 1);
}

.button-8 {
    color: var(--clr-neon);
    font-size: 2em;
    margin: 115px;
    margin-left: 185px;
    display: inline-block;
    cursor: pointer;
    text-decoration: none;
    color: var(--clr-neon);
    border: var(--clr-neon) 4px solid;
    padding: 0.25em 1em;
    border-radius: 0.25em;
    text-shadow: 0 0 0.125em rgba(255, 255, 255, 0.55), 0 0 0.5em currentColor;
    box-shadow: inset 0 0 0.5em 0 var(--clr-neon), 0 0 0.5em 0 var(--clr-neon);
    position: relative;
}

.button-8::before {
    pointer-events: none;
    content: "";
    position: absolute;
    background: var(--clr-neon);
    top: 120%;
    left: 0;
    width: 100%;
    height: 100%;
    transform: perspective(1.2em) rotateX(40deg) scale(1.5, 0.5);
    filter: blur(1.15em);
    opacity: 0.7;
    transition: transform 0.5s linear;
}

.button-8::after {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    box-shadow: 1 1 4em 0.6em var(--clr-neon), 0 0 1em 0.2em var(--clr-white);
    opacity: 0;
    background: var(--clr-neon);
    z-index: -1;
    transition: opacity 0.5s linear;
}

.button-8:hover,
.button-8:focus {
    color: var(--clr-bg);
    text-shadow: none;
    background: var(--clr-neon);
}

.button-8:hover::before,
.button-8:focus::before {
    opacity: 1;
    transform: perspective(1em) rotateX(40deg) scale(1.5, 0.6);
    transition: transform 0.5s linear;
}

.button-8:hover::after,
.button-8:focus::after {
    opacity: 1;
}


/* button#9 */

.box-9 {
    margin-top: 120px;
    width: 650px;
    height: 400px;
    border: 10px solid #2196F3;
    background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);
}


.btn-9 {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-tap-highlight-color: transparent;
}

.btn-9,
.btn-9:before {
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-9 {
    width: 150px;
    height: 50px;
    margin: 120px;
    margin-left: 210px;
    cursor: pointer;
    font-family: 'Play', sans-serif;
    font-size: 20px;
    color: white;
    border: none;
    border-radius: 25px;
    background-image: url("https://assets.codepen.io/3305358/hazard-stripes-wallpaper.jpg");
    background-size: 150%;
    background-position: left;
    transition: 1s;
}

.btn-9:before {
    width: 150px;
    height: 50px;
    content: 'Hazard';
    background: rgba(0, 0, 0, 0.6);
    border-radius: 25px;
    position: absolute;
    transition: 500ms;
}

.btn-9:hover:before {
    background: rgba(0, 0, 0, 0);
    text-shadow: 1px 1px 1px black;
}

.btn-9:hover {
    background-position: center;
    box-shadow: 0px 0px 10px rgba(232, 218, 26, 0.5);
}

.btn-9:focus {
    outline: none;
}


/* button#10 */

.box-10 {
    margin-top: 120px;
    width: 650px;
    height: 400px;
    border: 10px solid #2196F3;
    background: black;
}

.btn-10 {
    position: absolute;
    display: block;
    width: 240px;
    padding: 40px;
    margin: 120px;
    margin-left: 200px;
    border: 0;
    cursor: pointer;
    border-radius: 2px;
    transform: translateY(-50%);
    box-shadow: 0 10px 20px -5px #94a6af;
    overflow: hidden;
}

.btn-10:before,
.btn-10:after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}

.btn-10:before {
    transform: scale(1);
    background-image: url("https://himalayasingh.github.io/button-hover-effect-1/img/bg.jpg");
    background-size: cover;
    transition: 0.3s ease transform;
    z-index: 1;
}

.btn-10:after {
    background-color: #000;
    opacity: 0.16;
    z-index: 2;
}

.btn-10 div {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 3;
}

.btn-10 div:before,
.btn-10 div:after {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    color: #fff;
    font-size: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    line-height: 1;
    text-align: center;
    padding: 25px 0;
    transition: 0.3s ease all;
}

.btn-10 div:before {
    content: "HOVER";
    letter-spacing: 0;
    opacity: 1;
    transform: scale(1);
}

.btn-10 div:after {
    content: "YEAH !";
    letter-spacing: -10px;
    transform: scale(0);
    opacity: 0;
}

.btn-10:hover:before {
    transform: scale(1.3);
}

.btn-10:hover div:before {
    letter-spacing: 3px;
    opacity: 0;
    transform: scale(4);
}

.btn-10:hover div:after {
    letter-spacing: 0;
    opacity: 1;
    transform: scale(1);
}